<!doctype html>
<html>
    <head>
        <title>Image Repository</title>
    </head>
    
    <body>
        <a href="/">Home</a> <br>

        <FORM method="POST">
        <P>
            <LABEL for="name">Enter the image name</LABEL>
            <INPUT type="text" name="name"><BR>
            <LABEL for="path">Enter a path to the image</LABEL>
            <INPUT type="text" name="path"><BR>
            <LABEL for="buy_price">Enter the new wholesale (buy) price</LABEL>
            <INPUT type="text" name="buy_price"><BR>
            <LABEL for="sell_price">Enter the new selling price</LABEL>
            <INPUT type="text" name="sell_price"><BR>
            <LABEL for="amount">Enter the new Stock</LABEL>
            <INPUT type="text" name="amt"><BR>
            <INPUT type="submit" value="Send"> <INPUT type="reset">
        </P>
        </FORM>

    </body>
</html>
